{% extends "flashCards_auth/base_auth.html" %}
{% load static %}

{% block content %}


<div class="h-screen w-screen flex items-start mt-[10vh] justify-center">
    <div class="w-3/4 h-auto rounded-lg bg-gray-800 text-center p-8 shadow-xl shadow-gray-500 border-2 border-gray-600">
        <p class="text-2xl font-bold mb-4 bg-gradient-to-r from-cyanColor to-darkCyanColor bg-clip-text text-transparent">
            Password reset sent</p>

        <div class="my-10 text-center text-gray-300 space-y-4">
            <p>
                We’ve emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.
            </p>

            <p>
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                check your spam folder.
            </p>
        </div>

    </div>
</div>


{% endblock %}