{% extends "flashCards_auth/base_auth.html" %}
{% load static %}

{% block content %}


<div class="h-screen w-screen flex items-start mt-[10vh] justify-center">
    <div class="w-3/4 h-auto text-center p-8 backdrop-blur-xl rounded-2xl text-white
                border border-[#41D9FF]/30 hover:border-[#7D5FFF]/50 shadow-inner">
        <p class="text-2xl font-bold mb-4 bg-clip-text">
            Password reset complete
        </p>

        <div class="my-10 text-center text-gray-300 space-y-4">
            <p>
                Your password has been set. You may go ahead and log in now.
            </p>

            <p>
                <a href="{% url 'login' %}" class="text-white hover:text-blue-400 font-semibold transition">Login</a>
            </p>
        </div>

    </div>
</div>


{% endblock %}