{% extends "flashcards_auth/base_auth.html" %}
{% load static %}

{% block content %}

<div class="h-screen w-screen flex items-center justify-center">
    <div class="w-1/4 h-auto rounded-lg bg-gray-800 text-center p-8 shadow-xl shadow-gray-500 border-2 border-gray-600">
        <p class="text-2xl font-bold mb-4 bg-gradient-to-r from-cyanColor to-darkCyanColor bg-clip-text text-transparent">
            Password Reset</p>
        <div class="justify-center text-sm mb-6">
            <p class="text-gray-400 transition">Enter your email to reset your password.</p>
        </div>
        <form method="post" class="space-y-4">
            {% csrf_token %}

            <div class="relative mb-4">
                <label for="{{ form.email.id_for_label }}" class="sr-only">{{ form.email.label }}</label>
                <div class="absolute inset-y-0 right-1 pl-3 flex items-center pointer-events-none">
                    <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="emailIconGradient" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="0%" style="stop-color:rgba(0,180,180,1);stop-opacity:1"/>
                                <stop offset="100%" style="stop-color:rgba(180,0,100,0.7);stop-opacity:1"/>
                            </linearGradient>
                        </defs>
                        <path stroke="url(#emailIconGradient)" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="2"
                              d="M3 8l7.89 5.26c.49.33 1.13.33 1.62 0L21 8m-18 0a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2V8z"></path>
                    </svg>
                </div>
                {{ form.email }}
            </div>

            <button type="submit"
                    class="w-full bg-custom-gradient-before hover:bg-custom-gradient-after
               text-gray-100 font-semibold py-2 px-4 rounded-lg transition">
                Send Reset Instructions
            </button>
        </form>

    </div>
</div>


{% endblock %}