<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load ui_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Flashcards App - Study smarter with custom decks and collections.">
    <meta name="author" content="Yevhenii Bessonov">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Flashcards App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'flashcards_app/css/output.css' %}">
</head>

<body class="min-h-screen flex flex-col m-0 p-0 bg-custom-bg bg-cover bg-center font-archivo text-white">

<!-- Header -->
<header class="fixed top-0 left-0 w-full h-[70px] px-8 z-50 flex justify-between
               items-center rounded-b-2xl {% glass_shadow %}">

    <!-- Header Left Side -->
    <div class="flex items-center space-x-6">

        <!-- Logo/MainPage Link -->
        <a href="{% url 'collection-list' %}">
            <img src="{% static 'flashcards_app/images/logo.png' %}"
                 class="w-14 rounded-xl {% smooth_scale %} hover:shadow-lg hover:shadow-[#41D9FF]/40"
                 alt="Flashcards App Logo">
        </a>

        <!-- Icons -->
        <nav class="hidden md:flex items-center space-x-6 text-gray-300 text-sm">
            <a href="#" class="{% smooth_violet_hover %}">
                <i class="fa-brands fa-telegram"></i>
                <span>Bot</span>
            </a>
            <a href="#" class="{% smooth_violet_hover %}">
                <i class="fa-solid fa-circle-info"></i>
                <span>Help</span>
            </a>
            <a href="#" class="{% smooth_violet_hover %}">
                <i class="fa-solid fa-bolt"></i>
                <span>Features</span>
            </a>
        </nav>
    </div>

    <!-- Header Right Side -->

    <!-- User Profile Dropdown Button -->
    <div x-data="{ open: false }" class="relative inline-block">
        <img src="{% static 'flashcards_app/images/login.png' %}"
             @click="open = !open"
             class="w-14 h-14 cursor-pointer rounded-full hover:border-[#7D5FFF]
                    shadow-lg shadow-black/30 hover:shadow-[#41D9FF]/60 {% smooth_scale %}"
             :class="{'ring-2 ring-[#7D5FFF]/50': open}" alt="User Profile"/>

        <!-- User Profile Dropdown Menu -->
        <div x-show="open"
             @click.away="open = false"
             class="right-[-30px] mt-2 {% dropdown_menu %}">
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}"
               class="{% btn_dropdown_primary %}">
                <i class="fa-solid fa-right-to-bracket mr-2 text-sm"></i>Login</a>
            <a href="{% url 'register' %}"
               class="{% btn_dropdown_primary %}">
                <i class="fa-solid fa-user-plus mr-2 text-sm"></i>Register</a>
            {% else %}
            {% if user.username %}
            <div class="px-4 py-2 text-center text-gray-300">Hi, {{user.username}}</div>
            <hr class="border-gray-700 my-1">
            {% endif %}
            <a href="{% url 'collection-list' %}"
               class="{% btn_dropdown_primary %}">
                <i class="fa-solid fa-layer-group mr-2 text-sm"></i>Collection</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit"
                        class="{% btn_dropdown_danger %} block w-full text-left">
                    <i class="fa-solid fa-right-from-bracket mr-2 text-sm"></i>Logout
                </button>
            </form>
            {% endif %}
        </div>

    </div>
</header>

<!-- Content -->
<div class="flex-grow flex mt-[100px]">

    <!-- Sidebar -->
    <nav class="relative z-40 w-[280px] p-4 shrink-0 rounded-r-2xl {% glass_shadow %}">
        <div class="flex items-center justify-center mb-6">
            <h2 class="text-lg font-semibold mb-6 text-gray-200 tracking-wide">
                My Collections
            </h2>
        </div>
        <div>
            {% for collection in collections %}
            <div x-data="{ open: false }" class="relative z-10">
                <div class="group flex items-center justify-between mb-2  rounded-2xl text-sm font-medium
                duration-200 border border-white/10
                hover:shadow-lg hover:shadow-indigo-500/90 hover:border-[#7D5FFF]/40 hover:bg-white/5
                {% smooth_scale %}
                {% if current_collection_id == collection.id %}
                    border-[#7D5FFF]/50 shadow-md shadow-indigo-500/90 bg-white/5 text-white scale-105
                {% else %}
                    text-gray-400 hover:text-white
                {% endif %}">

                    <a href="{% url 'decks-by-collection' collection.id %}" class="flex-1 block px-3 py-2">
                        {{ collection.name }}
                    </a>

                    <!-- Options Dropdown Button for Collection -->
                    <button @click="open = !open"
                            class="p-1 mr-1 rounded-full text-gray-400 hover:text-white
                                   bg-transparent hover:bg-gray-600 transition-colors duration-200
                                   opacity-0 group-hover:opacity-100 group-focus-within:opacity-100"
                            :class="{'outline-none ring-2 ring-[#7D5FFF]/50 ': open}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-more-vertical">
                            <circle cx="12" cy="12" r="1"/>
                            <circle cx="12" cy="5" r="1"/>
                            <circle cx="12" cy="19" r="1"/>
                        </svg>
                    </button>
                </div>

                <!-- Options Dropdown for Collection -->
                <div x-show="open" x-cloak @click.away="open = false" x-transition
                     class="left-full top-0 ml-2 {% dropdown_menu %}">
                    <a href="{% url 'deck-create' pk=collection.pk %}"
                       class="{% btn_dropdown_primary %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-plus-circle mr-2">
                            <circle cx="12" cy="12" r="10"/>
                            <path d="M8 12h8"/>
                            <path d="M12 8v8"/>
                        </svg>
                        Add Deck
                    </a>
                    <a href="{% url 'collection-update' pk=collection.pk %}"
                       class="{% btn_dropdown_primary %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-edit mr-2">
                            <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
                            <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4Z"/>
                            <line x1="16.5" x2="19.5" y1="6.5" y2="9.5"/>
                        </svg>
                        Edit
                    </a>
                    <a href="{% url 'collection-delete' pk=collection.pk %}"
                       class="{% btn_dropdown_danger %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-trash-2 mr-2">
                            <path d="M3 6h18"/>
                            <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/>
                            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/>
                            <line x1="10" x2="10" y1="11" y2="17"/>
                            <line x1="14" x2="14" y1="11" y2="17"/>
                        </svg>
                        Delete
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

    </nav>

    <!-- Content with will extend this template -->
    <main class="mx-auto">
        {% block content %}
        {% endblock %}
    </main>
</div>


<!-- Footer -->
<footer class="mt-14 text-gray-400 {% glass_shadow %}">
    <div class="max-w-7xl mx-auto px-8 py-6 flex flex-col md:flex-row items-center
                justify-between space-y-4 md:space-y-0">
        <div class="flex items-center space-x-3">
            <img src="{% static 'flashcards_app/images/logo.png' %}"
                 class="w-10 rounded-lg shadow-md shadow-black/40" alt="Logo">
            <span class="font-bold text-white">Flashcards App</span>
        </div>
        <div class="flex space-x-6 text-sm">
            <a href="#" class="{% smooth_violet_hover %}">About</a>
            <a href="#" class="{% smooth_violet_hover %}">Contact</a>
            <a href="#" class="{% smooth_violet_hover %}">Privacy Policy</a>
        </div>
        <div class="flex space-x-4 text-lg">
            <a href="#" class="{% smooth_violet_hover %}"><i class="fab fa-github"></i></a>
            <a href="#" class="{% smooth_violet_hover %}"><i class="fab fa-twitter"></i></a>
            <a href="#" class="{% smooth_violet_hover %}"><i class="fab fa-discord"></i></a>
        </div>
    </div>
    <div class="text-center text-xs text-gray-500 py-2 border-t border-[#41D9FF]/10">
        © {{year|default:2025}} Flashcards App — All rights reserved.
    </div>
</footer>
</body>
</html>
