<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <title>Flashcards App</title>
    <link rel="stylesheet" href="{% static 'flashcards_app/css/output.css' %}">
</head>
<body class="bg-gray-400">

<div class="flex justify-between bg-gray-800">
    <div class="flex items-center ml-4">
        <a href="{% url 'index' %}"><img src="{% static 'flashcards_app/images/logo.png' %}"
                                         class="w-16 transition-shadow rounded-lg duration-300 hover:shadow-lg hover:shadow-gray-300 "></a>
    </div>
    <div x-data="{ open: false }" class="relative inline-block rounded-md flex-none mr-4">
        <!-- Картинка -->
        <img src="{% static 'flashcards_app/images/login.png' %}"
             @click="open = !open"
             class="w-14 mt-[1px] cursor-pointer rounded-full transition-shadow duration-300
            hover:shadow-lg hover:shadow-gray-300"
             :class="{'shadow-lg shadow-gray-300': open}"/>

        <!-- Меню -->
        <div x-show="open"
             @click.away="open = false"
             class="absolute right-[-10px] mt-2  w-20 bg-gray-600 rounded-md shadow-lg shadow-gray-600">
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}"
               class="block px-4 py-2 bg-clip-text text-transparent bg-gradient-to-r from-cyan-200 hover:to-pink-300">Login</a>
            <a href="{% url 'register' %}"
               class="block px-4 py-2 bg-clip-text text-transparent bg-gradient-to-r from-cyan-200 hover:to-pink-300">Register</a>
            {% else %}
            <a href="{% url 'collection-list' %}"
               class="block px-4 py-2 bg-clip-text text-transparent bg-gradient-to-r from-cyan-200 hover:to-pink-300">Collection</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<div class="min-h-screen bg-blue-200 flex">
    <div class="w-1/4 text-center bg-slate-700 py-8 text-white">
        <a href="{% url 'collection-create' %}" class="text-white font-bold hover:text-pink-300 py-2 block">
            <span class="mr-2">+</span>Create Collection</a>

        <h2 class="text-xl font-bold mt-8 mb-4">My Collections</h2>
        {% for collection in collections %}
        <p class="mb-2">{{collection.name}}
            <a href="{% url 'collection-create-card' collection.id %}">
                <svg class="w-4 h-4 inline-block ml-2 text-cyan-200 " xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                </svg>
            </a>

            <a href="{% url 'collection-update' collection.id %}">
                <svg class="w-4 h-4 inline-block ml-2 text-cyan-200 " xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
                </svg>
            </a>
            <a href="{% url 'collection-delete' collection.id %}">
                <svg class="w-4 h-4 inline-block ml-2 text-pink-300" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                </svg>
            </a>
            <!--<p>
                {% for card in collection.cards.all %}
                <p>{{card.front}}</p>

                {% endfor %}
            </p>-->
        </p>
        {% endfor %}
    </div>
    <div class="w-3/4 p-8 text-center">
        {% block content %}
        {% endblock %}
    </div>

</div>
</body>
</html>