<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <title>Flashcards App</title>
    <link rel="stylesheet" href="{% static 'flashcards_app/css/output.css' %}">
</head>
<body class="bg-gray-400">

<div class="flex justify-between bg-gray-800">
    <div class="flex items-center ml-4">
        <a href="{% url 'index' %}"><img src="{% static 'flashcards_app/images/logo.png' %}"
                                         class="w-16 transition-shadow rounded-lg duration-300 hover:shadow-lg hover:shadow-gray-300 "></a>
    </div>
    <div x-data="{ open: false }" class="relative inline-block rounded-md flex-none mr-4">
        <!-- Картинка -->
        <img src="{% static 'flashcards_app/images/login.png' %}"
             @click="open = !open"
             class="w-14 mt-[1px] cursor-pointer rounded-full transition-shadow duration-300
            hover:shadow-lg hover:shadow-gray-300"
             :class="{'shadow-lg shadow-gray-300': open}"/>

        <!-- Меню -->
        <div x-show="open"
             @click.away="open = false"
             class="absolute right-[-10px] mt-2  w-20 bg-gray-600 rounded-md shadow-lg shadow-gray-600">
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}"
               class="block px-4 py-2 bg-clip-text text-transparent bg-gradient-to-r from-cyan-200 hover:to-pink-300">Login</a>
            <a href="{% url 'register' %}"
               class="block px-4 py-2 bg-clip-text text-transparent bg-gradient-to-r from-cyan-200 hover:to-pink-300">Register</a>
            {% else %}
            <a href="{% url 'collection-list' %}"
               class="block px-4 py-2 bg-clip-text text-transparent bg-gradient-to-r from-cyan-200 hover:to-pink-300">Collection</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% block content %}
{% endblock %}
</body>
</html>